body
{
	background-color: black;
	color: white;
}

#previously_run_commands
{
	overflow:auto;
	border-bottom:1px;
	border-bottom-color:yellow;
	border-bottom-style:dashed;
	max-height:100px;
}

.run_command
{
	border-width:1px;
	border-color:#666666;
	border-style:solid;
}

.run_command hr
{
	
}

#evaluating_command
{
	width:100%;
	overflow:hidden;
	margin-top:10px;
}

#evaluating_command p
{
	margin-top:0px;
	width:15px;
	float:left;
}

#evaluating_command_input
{
	width:100%;
	background-color:black;
	color:white;
}

#command_input_span
{
	display:block;
	overflow:hidden;
}


