body {
	background-color: black;
	color: #94FFAD;
	font-family: 'Ubuntu Mono', sans-serif;
	word-wrap: break-word;
	word-break: break-all;
}

body > ul {
	padding: 0;
	list-style: none;
}

#cursor {
	display: inline;
	background-color: transparent;
	width: 10px;
}

#cursor.blink {
	background-color: white;
}

.userinput {
	display: inline;
}
